@import "tailwindcss";

body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

.header-color {
  background-color: #191919;
  color: white;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-kumbh {
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 85%;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
